@using congestion.calculator;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Congestion Tax Calculator</h1>

<div class="justify-content-center">
    <div class="col-md-8">
        <div>
            <label>Select vehicle:</label>
            <select class="form-select" @onchange="ChangeVehicle" aria-label="Select vehicle type">
                @foreach (var v in vehicles)
                {
                    <option value=@v.GetVehicleType()>@v.GetVehicleType()</option>
                }
            </select>
            <label>Add a toll time:</label>
            <div>
                <div class="row">
                    <div class="col">
                        <input type="datetime-local" @bind="SelectedDate" min="2013-01-01T00:00:00" max="2013-12-31T00:00:00" class="form-control" required />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" @onclick="AddDate">Add Date</button>
                    </div>
                </div>              
            </div>
           <hr />     
        </div>
        <div>
            <div>
                <h3>
                    Toll Times <button class="btn btn-sm btn-light" @onclick="()=>Reset()">Reset</button>
                </h3>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @if (!Dates.Any())
                            {
                                <tr>
                                    <td colspan="3">
                                        <div class="card bg-none boreder-dark text-dark text-center px-3 py-5 m-1">
                                            <blockquote class="blockquote mb-0">
                                                <p>No times added</p>
                                                <footer class="blockquote-footer">
                                                    <small>
                                                        Add a toll time to calculate the tax
                                                    </small>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @foreach (var date in Dates.Order())
                            {
                                <tr>
                                    <td class="fw-bolder">@date.ToString("dd MMM yyy")</td>
                                    <td class="fw-bolder">@date.ToString("HH-mm-ss tt")</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="border-top-3">
                            <tr class="border-top-2 border-dark bg-dark text-white text-uppercase h3 fw-bolder">
                                <td>Total Tax</td>
                                <td>@Tax SEK</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
       
    </div>    
</div>
</div>



@code{
    private List<DateTime> Dates = new List<DateTime>();
    List<IVehicle> vehicles = new List<IVehicle>() { new Car(), new Bus(), new Motorbike(), new Military(), new Diplomat(), new Foreign(), new Emergency() };
    private IVehicle vehicle  = new Car();
    private CongestionTaxCalculator Calculator = new CongestionTaxCalculator();
    private DateTime SelectedDate = new DateTime(2013, 01, 01);
    private int Tax = 0;
    //protected override async Task OnInitializedAsync()
    //{

    //}
    private void AddDate()
    {
        Dates.Add(SelectedDate);
        CalculateTax();
    }

    private void ChangeVehicle(ChangeEventArgs e)
    {
        vehicle = vehicles.FirstOrDefault(v => v.GetVehicleType() == e.Value.ToString());
        if (Dates.Any())
        {
            Tax = Calculator.GetTax(vehicle, Dates.Order().ToArray());
        }
    }

    private void CalculateTax()
    {
        Tax =  Calculator.GetTax(vehicle,Dates.Order().ToArray());
    }


    private void Reset()
    {
        Dates.Clear();
        Tax = 0;
    }

}